streamlit
fastapi
uvicorn
yfinance
beautifulsoup4
requests
faiss-cpu
sentence-transformers
whisper
pyttsx3
google-generativeai
python-dotenv
streamlit-webrtc
scipy
SpeechRecognition
sounddevice
soundfile
streamlit-webrtc
pydub
streamlit-audiorec