streamlit
fastapi
uvicorn
yfinance
beautifulsoup4
requests
faiss-cpu
sentence-transformers
whisper
pyttsx3
google-generativeai
python-dotenv
streamlit
streamlit-webrtc
whisper
pyttsx3
scipy
requests
SpeechRecognition
pyaudio
SpeechRecognition
pyttsx3
pyaudio 
