# Minimal core
fastapi
uvicorn
streamlit
requests
faiss-cpu
sentence-transformers==2.2.2

# Audio (lighter)
SpeechRecognition
soundfile
pydub
streamlit-audiorec

# Optional lightweight extras
pyttsx3
textblob
scipy
yfinance
beautifulsoup4
python-dotenv
gTTS 
pygame

sounddevice
openai-whisper
